/*-------------------------------------------------------------------------------全域---*/

html{background:#000}
body{background:#000;width:960px;margin:0 auto;font:300 14px "微軟正黑體";color:#fff}
a{text-decoration:none;font:300 14px "微軟正黑體"}


/*-------------------------------------------------------------------------------頁首---*/

header{height:277px}
header h1{}
header h1 a{display:block;width:631px;height:177px;background:image-url("h1.jpg") 0 center no-repeat;text-indent:-9999px;margin:0 0 0 225px}

/*-------------------------------------------------------------------------------選單---*/

nav ul{overflow:hidden;height:50px}
nav li{float:right;color:#ff00ef;margin:0 20px 0 0}
nav {color:#ff00ef}
nav a{display:block;height:50px;color:#ff00ef}
nav a:hover{color:#fff}
nav .ablock{text-indent:-9999px}
nav .atext{padding:17px 0 0 0}
#nav-home{width:42px;background:image-url("nav-home.jpg") 0 center no-repeat}

/*-------------------------------------------------------------------------------翻轉---*/

.ablock {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	height: 50px
}
.ablock:hover .flipper, .ablock.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flipper{
	-webkit-transition: .3s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: .3s;
	-moz-transform-style: preserve-3d;
	position: relative;
}
.front,.back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;position: absolute;top: 0;left: 0;height: 50px;
	background-position: 0 center;
	background-repeat:no-repeat;}
.front {z-index: 2}
.back {-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);transform: rotateY(180deg)}

#nav-01,#nav-01 .front,#nav-01 .back{width: 117px}
#nav-01 .front{background-image:image-url("nav-01.jpg")}
#nav-01 .back{background-image:image-url("nav-01b.jpg")}

#nav-02,#nav-02 .front,#nav-02 .back{width: 72px}
#nav-02 .front{background-image:image-url("nav-02.jpg")}
#nav-02 .back{background-image:image-url("nav-02b.jpg")}

#nav-03,#nav-03 .front,#nav-03 .back{width: 118px}
#nav-03 .front{background-image:image-url("nav-03.jpg")}
#nav-03 .back{background-image:image-url("nav-03b.jpg")}

#nav-04,#nav-04 .front,#nav-04 .back{width: 116px}
#nav-04 .front{background-image:image-url("nav-04.jpg")}
#nav-04 .back{background-image:image-url("nav-04b.jpg")}

#nav-fb,#nav-fb .front,#nav-fb .back{width: 49px}
#nav-fb .front{background-image:image-url("nav-fb.jpg")}
#nav-fb .back{background-image:image-url("nav-fbb.jpg")}

/*-------------------------------------------------------------------------------內容---*/

#main{overflow:hidden}

/*-------------------------------------------------------------------------------側欄---*/

aside{width:167px;background:image-url("aside.jpg") 0 20px no-repeat;padding:91px 0 0 0;float:left}
aside a{display:block;background-position: center 0;background-repeat:no-repeat;margin:20px 0;opacity:.75;-webkit-transition:all ease .3s;-moz-transition:all ease .3s}
aside a:hover{opacity:1}
#sp-01{background-image:image-url("sp-01.jpg");height:93px}
#sp-02{background-image:image-url("sp-02.jpg");height:66px}
#sp-03{background-image:image-url("sp-03.jpg");height:83px}
#sp-04{background-image:image-url("sp-04.jpg");height:75px}
#sp-05{background-image:image-url("sp-05.jpg");height:149px}
#sp-06{background-image:image-url("sp-06.jpg");height:30px}
#sp-07{background-image:image-url("sp-07.jpg");height:39px}
#sp-08{background-image:image-url("sp-08.jpg");height:29px}
#sp-09{background-image:image-url("sp-09.jpg");height:31px}
#sp-10{background-image:image-url("sp-10.jpg");height:35px}
#sp-11{background-image:image-url("sp-11.jpg");height:45px}
#sp-12{background-image:image-url("sp-12.jpg");height:44px}
#sp-13{background-image:image-url("sp-13.jpg");height:48px}
#sp-14{background-image:image-url("sp-14.jpg");height:124px}
#sp-15{background-image:image-url("sp-15.jpg");height:123px}
#sp-16{background-image:image-url("sp-16.jpg");height:27px}
#sp-17{background-image:image-url("sp-17.jpg");height:94px}
#sp-18{background-image:image-url("sp-18.jpg");height:43px}
#sp-19{background-image:image-url("sp-19.jpg");height:32px}
#sp-20{background-image:image-url("sp-20.jpg");height:19px}
#sp-21{background-image:image-url("sp-21.jpg");height:20px}
#sp-22{background-image:image-url("sp-22.jpg");height:44px}
#sp-23{background-image:image-url("sp-23.jpg");height:97px}
#sp-24{background-image:image-url("sp-24.jpg");height:37px}
#sp-25{background-image:image-url("sp-25.jpg");height:64px}
#sp-26{background-image:image-url("sp-26.jpg");height:100px}
#sp-27{background-image:image-url("sp-27.jpg");height:42px}
#sp-28{background-image:image-url("sp-28.jpg");height:61px}
#sp-29{background-image:image-url("sp-29.jpg");height:40px}
#sp-30{background-image:image-url("sp-30.jpg");height:30px}
#sp-31{background-image:image-url("sp-31.jpg");height:23px}
#sp-32{background-image:image-url("sp-32.jpg");height:84px}
#sp-33{background-image:image-url("sp-33.jpg");height:84px}

#summer{margin:25px 0 0 33px}
#summer a{color:#fff;font:300 13px "微軟正黑體"}
#summer a:hover{color:#A6CE39}

/*-------------------------------------------------------------------------------文章---*/

article{float:right;width:793px;padding:0;overflow:hidden}
#articleContent img {
	display: block;
	margin: 0 auto;
}

/*-------------------------------------------------------------------------------頁腳---*/

footer{clear:both;height:100px}
