.movie{width:242px;height:555px;float:left;margin:0 2px;overflow:hidden;position:relative}
.movie a .post{background:image-url("frame.jpg") 0 0 no-repeat;width:242px;height:345px;padding:20px 0 0 18px}
.movie a .info{color:#fff;padding:0 0 0 27px}
.movie a hgroup{color:#A6CE39; margin: 5px 0;}
.movie h3{font:900 24px "微軟正黑體"}
.movie h4{font:900 12px "微軟正黑體"}
.movie .intro{font:300 12px "微軟正黑體";color:#ccc;height:50px}
.movie .time{font:700 12px "微軟正黑體";color:#ff00ef}

.movie a:hover hgroup,.movie a:hover p{text-decoration:underline}

footer{padding:50px 0 0 170px}