
<footer>
	<ul>
	<li><a href="http://urbannomadfilmfest.blogspot.tw/" target="_blank">首頁</a></li>
	<li><a href="http://urbannomadfilmfest.blogspot.tw/p/blog-page.html" target="_blank">關於我們</a></li>
	<li><a href="http://urbannomadfilmfest.blogspot.tw/p/blog-page_05.html#news" target="_blank">徵件</a></li>
	<li><a href="http://urbannomadfilmfest.blogspot.tw/p/blog-page_14.html" target="_blank">志工徵求</a></li>
	<li><a href="http://www.youtube.com/user/urbannomadfilmfest/featured" target="_blank">UNTV</a></li>	
	<li><a href="http://urbannomadfilmfest.blogspot.tw/p/blog-page_23.html" target="_blank">媒體報導</a></li>
	<li><a href="http://urbannomadfilmfest.blogspot.tw/p/blog-page_7019.html#news" target="_blank">聯絡</a></li>
	<li><a href="http://schedule.urbannomad.tw/englishsite" target="_blank">English</a></li>
	</ul>
</footer>