
<footer>
<ul>
<li><a href="http://urbannomaden.blogspot.tw/" target="_blank">Home</a></li>
<li><a href="http://urbannomaden.blogspot.tw/p/about-us.html#news" target="_blank">About Us</a></li>
<li><a href="http://urbannomaden.blogspot.tw/p/submit-film.html#news" target="_blank">Submit a Film</a></li>
<li><a href="http://www.youtube.com/user/urbannomadfilmfest?feature=mhum" target="_blank">UNTV</a></li>	
<li><a href="http://urbannomaden.blogspot.tw/p/in-media.html" target="_blank">In the Media</a></li>
<li><a href="http://urbannomaden.blogspot.tw/p/contact-us.html#news" target="_blank">Contact Us</a></li>
<li><a href="http://urbannomadfilmfest.blogspot.tw/" target="_blank">中文</a></li>
</ul>
</footer>