
<meta property="og:site_name" content="2013 城市遊牧影展"/>

<meta name="keywords" content="2013, 影展, 台北, 時間表" />

<% if params[ :controller ] == "static_page" && params[ :action ]  == "index" %>

<!-- index meta -->
<meta name="description" content="2013 城市游牧影展-電影時間表，活動內容完整查詢。"/>
<meta property="og:title" content="2013 城市遊牧影展-電影時間表"/>
<meta property="og:description" content="2013 城市游牧影展-電影時間表，活動內容完整查詢。"/>

<% else %>

<meta name="description" content="2013 城市游牧影展-影展電影與影展活動完整介紹。"/>
<meta property="og:title" content="2013 城市遊牧影展-影展電影完整介紹"/>
<meta property="og:description" content="2013 城市游牧影展-影展電影與影展活動完整介紹。"/>

<% end %>

<title>2013 城市遊牧影展-影展電影完整介紹</title>